<nav class="w-full flex justify-between items-center px-6 py-3 bg-white  text-black border-b border-gray-300 ">

  <!-- Logo izquierda -->
  <div class="text-xl font-bold">(MiLogo) Iván Campano</div>

  <!-- Links centrados -->
  <ul class="menu menu-horizontal px-1">
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.link" routerLinkActive="text-black-900 font-bold"
        [routerLinkActiveOptions]="{ exact: true }" class="text-blue-800 hover:text-blue-400 no-underline">
        {{ item.label | uppercase }}
      </a>
    </li>
  </ul>



  <!-- Botones derecha -->
  <div class="hidden lg:flex gap-2">
    <button routerLink="/partners" class="btn btn-outline" style="color:#1e40af;
               border:1px solid #1e40af;
               background:transparent;
               border-radius:9999px;
               display:inline-flex;
               align-items:center;
               justify-content:center;
               padding:0.5rem 1rem;">
      Descuentos
    </button>


    <button [routerLink]="'/contacto'" class="btn btn-primary   rounded-full ">Couching</button>
  </div>
</nav>
