<nav class="w-full flex justify-between items-center px-6 py-3 bg-brand-negro  text-black">

  <!-- Logo izquierda -->
  <div class="text-xl font-bold text-white">(MiLogo) Iván Campano</div>

  <!-- Links centrados -->
  <ul class="menu menu-horizontal px-2 flex gap-x-16">
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.link" routerLinkActive="text-brand-amarillo font-bold"
        [routerLinkActiveOptions]="{ exact: true }" class="text-white no-underline">
        {{ item.label | uppercase }}
      </a>
    </li>
  </ul>



  <!-- Botones derecha -->
  <div class="hidden lg:flex gap-2">
    <button routerLink="/partners"
      class="bg-black border-1 border-brand-amarillo text-brand-amarillo rounded-full inline-flex items-center justify-center px-4 py-2">
      Descuentos
    </button>


    <button [routerLink]="'/contacto'"
      class="bg-brand-amarillo text-black rounded-full inline-flex items-center justify-center px-4 py-2">
      Couching
    </button>



  </div>
</nav>
