/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bebas Neue';
  src: url('assets/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




/* Asegura que html y body ocupan todo el alto y no tienen márgenes */
html,
body {
  height: 100%;
  margin: 0;
  background-color: #f3f4f6;
  /* bg-gray-100 Tailwind */
}

/* Que body use flex en columna para el layout */
body {
  display: flex;
  flex-direction: column;
}

/* Contenedor principal ocupa toda la altura visible */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* mejor usar min-height para adaptarse */
  background-color: #f3f4f6;
  /* fondo igual para evitar huecos */
}

/* Header y footer tamaño fijo, no crecen */
.app-header,
.app-footer {
  flex: 0 0 auto;
}

/* Main ocupa el espacio restante */
.app-main {
  flex: 1 1 auto;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
