<div id="carouselExample" class="carousel slide full-carousel" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-content">
        <picture>
          <!-- Imagen para móviles -->
          <source srcset="ivanMovil2.png" media="(max-width: 790px)">
          <!-- Imagen para escritorio -->
          <img src="ivanBien2.png" alt="..." class="w-full h-auto">
        </picture>

      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-content">
        <picture>
          <!-- Imagen para móviles -->
          <source srcset="ivanPequeño.png" media="(max-width: 790px)">
          <!-- Imagen para escritorio -->
          <img src="ivanGrande.png" alt="..." class="w-full h-auto">
        </picture>
      </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>


  <button [routerLink]="'/contacto'" class="bg-brand-amarillo text-black rounded-full inline-flex item-center  px-4 py-2 absolute left-1/2 bottom-8 transform -translate-x-1/2 z-10 shadow-lg
    text-xl uppercase font-mifuente sm:left-1/4 ">
    Entrena conmigo
  </button>

</div>